*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root{
    --picwidth: 500px;
    --accentBGLight: white;
    --accentBGDark: black;
    --backBGLight: rgb(234, 252, 255);
    --backBGDark: rgb(58, 58, 58);
}
body{
    min-height: 100dvh;
}
.bodyLight{
    background: var(--backBGLight);
}
.bodyDark{
    background: var(--backBGDark);
}
footer{
    display: grid;
    place-items: center;
    height: 80px;
}
.footerLight{
    background: var(--accentBGLight);
    box-shadow: 0px 2px 10px rgb(180, 180, 180);
    color: black;
}
.footerDark{
    background: var(--accentBGDark);
    box-shadow: 0px -2px 10px rgb(77, 77, 77);
    color: white;
}
.toppenLight{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 1rem;
    text-align: center;
    box-shadow: 0px 2px 10px rgb(180, 180, 180);
    width: 100%;
    background: var(--accentBGLight);
    color: black;
}
.toppenDark{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 1rem;
    text-align: center;
    box-shadow: 5px 5px 10px rgb(77, 77, 77);
    width: 100%;
    background: var(--accentBGDark);
    color: white;
}
.toppen header{
    font-size: 52px;
}
.toppenLight p{
    display: grid;
    place-content: center;
    background: rgb(231, 231, 231);
    padding-left: 1rem;
    padding-right: 1rem;
    border-radius: 0.4rem;
    user-select: none;
    outline: 1px solid rgb(202, 202, 202);
    box-shadow: 3px 3px 8px rgb(180, 180, 180);
}
.toppenDark p{
    display: grid;
    place-content: center;
    background: rgb(34, 34, 34);
    padding-left: 1rem;
    padding-right: 1rem;
    border-radius: 0.4rem;
    user-select: none;
    outline: 1px solid rgb(131, 131, 131);
    box-shadow: 5px 5px 10px rgb(77, 77, 77);
}
.informationLight{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    margin-right: auto;
    margin-left: auto;
    margin: 3rem;
    gap: 3rem;
    background: var(--backBGLight);
}
.informationDark{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    margin-right: auto;
    margin-left: auto;
    margin: 3rem;
    gap: 3rem;
    background: var(--backBGDark);
}
.infoRutaLight{
    padding: 2rem;
    border-radius: 0.5rem;
    max-width: 50%;
    display: grid;
    place-items: center;
    background: var(--accentBGLight);
    color: black;
    margin-top: 2rem;
    margin-bottom: 4rem;
    box-shadow: 5px 5px 10px rgb(180, 180, 180);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}
.infoRutaDark{
    padding: 2rem;
    border-radius: 0.5rem;
    max-width: 50%;
    display: grid;
    place-items: center;
    background: var(--accentBGDark);
    color: white;
    margin-top: 2rem;
    margin-bottom: 4rem;
    box-shadow: 5px 5px 10px rgb(77, 77, 77);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}
.infoRuta:hover {
    transform: translateY(-10px) scale(1.02);
    box-shadow: 10px 15px 25px rgb(160, 160, 160);
}
.infoRuta h1{
    text-align: center;
}
.infoRuta  p{
    margin-bottom: 1rem;
}
.infobild{
    width: var(--picwidth);
    height: calc(var(--picwidth) * 0.8);
}